In [2]:
import json
import pandas as pd
import numpy as np
import re

In [3]:
def load_json(path):
    with open(path) as json_file:
        data = json.load(json_file)
        return data

In [4]:
data = load_json('actors.json')
actors = data['data']

In [5]:
test = re.findall(r'[ก-๙]', 'fweffweดำ')
print(not test)

False

In [41]:
name_list = []
position_list = []
company_list = []
location_list = []
bio_list = []
education_list = []
experience_position_list = []
experience_company_list = []
skill_list = []
all_skill = []

for actor in actors:
    name = actor['name'].strip().lower()
    
    position = actor['position'].strip().lower()
    position = position.replace('|', ',').replace('/', ',')
    split = re.split('@|at |ที่', position)
    position = split[0].strip()
    company = " " if len(split) < 2 else split[1].strip()
    
    
    
    location = actor['location'].strip().lower()
    bio = actor['about'].strip().lower()
    education = ','.join(["" if re.findall(r'[ก-๙]', item) else item.strip().lower() for item in actor['education']])
    experience_position = ','.join([item['name'].strip().lower() for item in actor['experience']])
    experience_company = ','.join([item['company'].strip().lower() for item in actor['experience']])
    skill = ','.join(["" if re.findall(r'[ก-๙]', item) else item.strip().lower() for item in actor['skill']])
    
    all_skill.append(["" if re.findall(r'[ก-๙]', item) else item.strip().lower() for item in actor['skill']])
    
    name_list.append(name)
    position_list.append(position)
    company_list.append(company)
    location_list.append(location)
    bio_list.append(bio)
    education_list.append(education)
    experience_position_list.append(experience_position)
    experience_company_list.append(experience_company)
    skill_list.append(skill)

In [7]:
actors_arr = np.transpose(np.array([name_list, position_list, company_list, location_list, bio_list, education_list, experience_position_list, experience_company_list, skill_list]))
actors_columns = ['name', 'position', 'company', 'location', 'bio', 'education', 'exp_position', 'exp_company', 'skill']
df = pd.DataFrame(actors_arr, columns=actors_columns)
df.head()

,name,position,company,location,bio,education,exp_position,exp_company,skill
0,parag khanna,software engineer,agoda,"bangkok metropolitan area, thailand",,"national institute of technology kurukshetra,m...","software engineer,software engineer,sde,softwa...","agoda,tapzo,axisrooms,transbit technologies,we...","java,c,c++,software development,web services,s..."
1,aditya singh,senior software engineer,agoda,"bangkok metropolitan area, thailand",a software engineer with 2.5+ years of industr...,"shri l.r. tiwari college of engineering,thakur...","senior software engineer,on a career break","agoda,career break","java,nodejs,python,web development,algorithms,..."
2,tatpon poonampai,back end engineer,agoda,"bangkok metropolitan area, thailand",i am a passionate programmer who likes coding ...,,"back end engineer,full-stack developer,.net de...","agoda,true e-logistics,bonzen","node.js,react.js,javascript,docker,react nativ..."
3,kan-anek atichatviwat,software engineer,agoda,"bangkok metropolitan area, thailand",experienced software engineer adept in all pro...,"university of essex,king mongkut's institute o...","software engineer (data team),software enginee...","agoda,mohara,burda international asia,kurume i...","node.js,react.js,mongodb,software engineering,..."
4,sophiwart kochum,recruiter,agoda,"bangkok metropolitan area, thailand",,"university of hertfordshire,","tech recruiter,recruiter","agoda,ascend corporation","human resources,analytical skills,recruiting,t..."

In [48]:
df.to_csv(r'actors.csv', index=False)

In [78]:
skills = sum(all_skill, [])
df_skill = pd.DataFrame(skills, columns=['skill'])
df_skill.to_csv(r'all_skill.csv', index=False)